$primary-color: #FFF;
$secondary-color: #E00034;
$primary-background-color: #D30031;
$secondary-background-color: #E30639;
$header-background-color: #DB0334;
$incactive-color: #B2B2B2;

$base-padding: 2vw;
$base-padding-vertical: 2vh;
$base-padding-horizontal: 2vw;

$base-margin: 2vw;
$base-margin-vertical: 1vh;
$base-margin-horizontal: 2vw;

$base-border-radius: 8px;
$base-border-width: 8px;

$primary-button-color: #0B3F8D;

$img-background-color: gray * 1.6;
$img-base-size: 18vw;

// http://codepen.io/anon/pen/aWmEbw
// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 320px;
$max_width: 768px;

// These values represent the range of fon-tsize to apply  
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font: 14px;
$max_font: 24px; 
