$primary-color: #FFF;
$secondary-color: #E00034;
$primary-background-color: #D30031;
$secondary-background-color: #E30639;
$header-background-color: #DB0334;
$incactive-color: #B2B2B2;

$base-padding: 2vw;
$base-padding-vertical: 2vh;
$base-padding-horizontal: 2vw;

<<<<<<< HEAD
$base-margin: 2vw;
$base-margin-vertical: 1vh;
$base-margin-horizontal: 2vw;

$base-font-size: 1.1rem;
=======
$base-font-medium: 1.6rem;
$base-font-size: 0.9em;
>>>>>>> 7817304119bf153f5f8a46318c88864bdf4f693b
$font-size-tiny: 0.8rem;

$base-border-radius: 8px;
$base-border-width: 8px;

$primary-button-color: #0B3F8D;

$list-font-size: 1em;