@import '../commons/variables';
@import '../commons/mixins';

.ContactPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .ContactPage-link-wrapper {
    display: flex;
    flex: 6;
    flex-direction: column;
    justify-content: space-around;
    padding: $base-padding-vertical $base-padding-horizontal;

    .ContactPage-link {
      margin:  $base-padding-vertical 10 * $base-padding-horizontal;
      padding: $base-padding-vertical $base-padding-horizontal;
      background-color: $secondary-background-color;
      color: #fff;
      text-decoration: none;
      font-size: $base-font-size;
      font-weight: bold;
      text-align: center;
      @include box-shadow();
      flex: 1;

      .ContactPage-icon {
        display: block;
        height: 12vh;
        width: 100%;
        margin-top: $base-padding-vertical;

        &.call-icon {
          background: url('../img/white/lindstrom_small.svg') no-repeat center center;
        }

        &.chat-icon {
          background: url('../img/white/communication.svg') no-repeat center center;
        }
      }
    }
  }
}
