@import '../commons/variables';

.FirstPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base-padding $base-padding / 2;
    margin: 10px;
    width: 33vw;
    height: 22vh;
    border-radius: $base-border-radius;
    border: solid $base-border-width $primary-color;
    color: $primary-color;
    text-decoration: none;
    font-size: $base-font-size;
    font-weight: bold;
    text-align: center;
  }
}
