@import '../commons/variables';
@import '../commons/mixins';

.InventoryPage {
	width: 100%;
	height: 100%;
	font-size: $list-font-size;

	.QR-code-info {
		margin: 2*$base-margin-horizontal 2*$base-margin-vertical $base-margin-horizontal 2*$base-margin-vertical;
		padding: $base-padding-horizontal 2*$base-padding-vertical;
		display: flex;
		flex-direction: row;
		justify-content:  center;
		align-items: center;
		flex-shrink: 0;

		background-color: $secondary-background-color;
		@include box-shadow();

		.image {
			width: 55px;
			height: 55px;
			background-color: white;


		}
		.text {
			flex: 1;
			padding-left: $base-padding
		}
	}

	.Inventory {
		padding: $base-padding-horizontal 0; 
		
		.GarmentList {

			.Garment {
				margin-bottom: 4*$base-margin-horizontal;

				.stationary-info {
					padding: 1.5*$base-padding-horizontal 2*$base-padding-vertical 0 2*$base-padding-vertical;
					background-color: $secondary-background-color;
					@include box-shadow();
					display: flex;
					flex-direction: column;

					align-items: center;


					.name {
						align-self: flex-start;
						margin-bottom: $base-padding-horizontal; 
					}

					.columns {
						align-self: flex-start;
						width: 100%;
						display: flex;
						flex-direction: row;
						justify-content:  space-between;
						

						.left {
							.icon {
								background-color: white;
								width: 80px;
								height: 80px;
							}

						}
						.center {

						}

						.right {
							
							.icon {
								background-color: white;
								width: 50px;
								height: 50px;
							}
						}
					}

					.expand-toggle {
						display: flex;
						flex-direction: column;
						align-items: center;

						.text {
							font-size: 0.6em;
							padding: $base-padding-horizontal*0.5 0;

						}

						.arrow-up {
							width: 0; 
							height: 0;
							border-left: 25px solid transparent;
							border-right: 25px solid transparent;

							border-bottom: 10px solid $primary-color;
						}

						.arrow-down {
							width: 0; 
							height: 0;
							margin-bottom: -5px;
							border-left: 25px solid transparent;
							border-right: 25px solid transparent;

							border-top: 10px solid $primary-color;

						}

					}


				}

				.garment-list {

					display: none;

					&.expanded {
						display: block;
					}

					padding: 2*$base-padding-horizontal 0 $base-padding-horizontal 0;

					.GarmentInstance {
						background-color: $secondary-background-color;
						@include box-shadow;
						margin-bottom: $base-margin-horizontal;
						display: flex;
						flex-direction: column;
						align-content: center;
						padding: $base-padding-horizontal $base-padding-vertical;

						.location {
							font-size: 0.8em;
							align-self: flex-end;
							font-weight: bold;
						}
						.columns {
							display: flex;
							flex-direction: row;
							justify-content: space-around;
							padding-top: $base-padding-horizontal;
							padding-bottom: $base-padding-horizontal;

							.left {
								
								.icon {
									width: 40px;
									height: 40px;
									background-color: $primary-color;
								}
							}
							.center {
								.name {
									font-weight: bold;
									font-size: 0.85em;

								}
								.model {
									font-size: 0.8em;
									
								}

								.id {
									font-size: 0.7em;

								}
								.size {
									font-size: 0.7em;
								}
							}

							.right {
								.icon {
									width: 45px;
									height: 45px;
									background-color: $primary-color;
								}

							}
							
						}
					}

					.GarmentInstance:last-child {
						margin-bottom: 0;

					}
				}
			}
		}
	}
}