@import '../commons/variables';
@import '../commons/mixins';

.StorePage {
  width:100%;
  height: 100%;

  .Store {
    padding: $base-padding;

    .ItemList {
      .Item {
        background-color: $secondary-background-color;
        @include box-shadow;
        margin-bottom: $base-margin-vertical;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: $base-padding-vertical $base-padding-horizontal;

        .Item-name {
          margin-left: -$base-padding-horizontal;
          margin-right: -$base-padding-horizontal;
          margin-top: -$base-padding-vertical;
          margin-bottom: $base-padding-vertical;
          background: $primary-color;
          color: $secondary-background-color;
          padding: $base-padding-vertical $base-padding-horizontal;
          font-weight: bold;
          color:  $secondary-background-color;
          background:  $primary-color;
        }

        .location {
          align-self: flex-end;
          font-weight: bold;
        }

        .columns {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding-top: $base-padding-vertical;
          padding-bottom: $base-padding-vertical;

          .left {
            flex: 1;

            .icon {
              background-color: $img-background-color;
              @include box-shadow();
              width: $img-base-size;
              height: $img-base-size;
              padding: $base-padding;
              width: $img-base-size * 0.75;
              height: $img-base-size * 0.75;

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }

          .center {
            flex: 2;

            .name {
              font-weight: bold;
            }

            .model {
              font-weight: bold;
            }

            .price {
              font-weight: bold;
            }

            .sizes {
              font-weight: bold;
            }
          }

          .right {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            .icon {
              width: 10vw;
              height: 10vw;
              @include box-shadow();
              background-color: white;
              padding: $base-padding-vertical $base-padding-horizontal;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;

              a {
                text-decoration: none;

                .text {
                  color: $secondary-background-color;
                }
              }
            }
          }
        }
      }
    }
  }
}