@import '../commons/variables';
@import '../commons/mixins';

.ArrowButton {

  .up {
    @include box-shadow();
    border-radius: 50%;
    background-color: white;
    color:$secondary-background-color;
    height: 12vw;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .number {
      font-weight: bold;
    }

    &:after {
      content:"\25b2";
      font-weight: bold;
    }
  }

  .down {
    @include box-shadow();
    border-radius: 50%;
    background-color: white;
    color:$secondary-background-color;
    height: 12vw;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .number {
      font-weight: bold;
    }

    &:after {
      content:"\25bc";
      font-weight: bold;
    }
  }

}