@import '../commons/variables';
@import '../commons/mixins';

.ChatBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $base-padding;
  background: $secondary-background-color;
  width: 100%;
  @include box-shadow();

  .ChatBox-heading {
      flex: 1;
  }

  .ChatBox-MessageList {
    flex: 10;
    align-self: flex-start;
    font-size: $base-font-small;
    padding: $base-padding-vertical $base-padding-horizontal;
    padding-bottom: 4vh;
    width: 92%;
    max-height: 50vh;
    overflow-y: auto;
  }

  .ChatBox-PostMessageForm {
    flex: 1;
  }
}