@import '../commons/variables';

.Footer {
  display: flex;
  align-self: auto;
  order: 0;
  flex: 1;
  align-items: center;
  justify-content: center;

  .Footer-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      a {
          padding: $base-padding-vertical 2 * $base-padding;
          border-radius: $base-border-radius;
          background-color: $primary-color;
          color: #fff;
          text-decoration: none;
          font-size: $base-font-size;
          font-weight: bold
      }
    }
  }
}