@import '../commons/variables';

.Header {
  display: flex;
  align-self: auto;
  order: 0;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: $base-padding;

  .Header-logo {
    display: block;
    background: url('../img/white/lindstrom.svg') no-repeat center center;
    background-size: contain;
    height: 80px;
    width: 275px;
  }
}