@import '../commons/variables';
@import '../commons/mixins';

.LaundryInfo {
  display: flex;
  align-self: auto;
  order: 0;
  flex: 1;
  justify-content: space-around;
  margin: 0 $base-padding;
  flex-direction: column;

  .LaundryInfo-heading {
    flex: 1;
    text-align: center;
    padding: $base-padding-vertical $base-padding-horizontal;
  }

  .LaundryInfo-date-info {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }

  .LaundryInfo-week-calendar-wrapper-wrapper {
    display: flex;
    flex: 16;
    flex-direction: row;
    width: 100vw;
    overflow-x: scroll !important;
    overflow-y: visible !important;
    padding-top: $base-padding-vertical;
    padding-bottom: $base-padding-vertical;
    padding-right: $base-padding-vertical;

    .LaundryInfo-week-calendar-wrapper {
      display: flex;
      flex: 1;
      flex-direction: row;
      width: 366vw;

      .LaundryInfo-week-calendar {
        display: flex;
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;

        .week {
          margin-right: $base-padding-horizontal;
        }

        .week-3 {
          margin-right: 4 * $base-padding-horizontal;
        }

        .week-calendar-day {
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: center;
          background: $secondary-background-color;
          @include box-shadow();

          &:not(:first-child) {
            margin-left: $base-padding-horizontal / 2;
          }

          &:not(:last-child) {
            margin-right: $base-padding-horizontal / 2;
            
            &.Weekend .weekday-short {
              color: $incactive-color;
            }
          }

          .weekday-short {
            flex: 1;
            text-align: center;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;

            .current {
              background: $primary-color;
              color: $secondary-background-color;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }


  .LaundryInfo-details-wrapper {
    display: flex;
    flex: 10;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    margin: $base-padding-vertical 0;

    .LaundryInfo-details {
      background: $secondary-background-color;
      padding: $base-padding-vertical $base-padding-horizontal;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: stretch;
      @include box-shadow();
      width: 60vw;

      .LaundryInfo-details-heading {
        flex: 1;
      }

      .weekday-data {
        flex: 1;
        flex-direction: row;

        .weekday-data-wrapper {
          align-items: stretch;
          flex-direction: row;

          .weekday-data-icon {
            background-position: left;
            flex: 1;
          }

          .weekday-data-text {
            flex: 1;
          }
        }
      }
    }

    .LaundryInfo-notification {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .LaundryInfo-week-number {
      flex: 2;
      text-align: right;
      font-weight: bold;
    }
  }

  .weekday-data {
    flex: 6;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .weekday-data-wrapper {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      margin: $base-padding-vertical / 2 $base-padding-horizontal;

      .weekday-data-text {
        align-self: center;
      }
    }
  }

  .arriving-garments {
    font-size: calc( $min_font + ($max_font - $min_font) * ( (100vw - $min_width) / ( $max_width - $min_width) ));
  }

  .weekday-data-icon {
    text-align: right;
    flex: 1;
    height: 100%;
    margin-right: 5px;

    &.jackets {
      background: url('../img/white/jacket.svg') no-repeat center center;
    }

    &.pants {
      background: url('../img/white/pants.svg') no-repeat center center;
    }

    &.shirts {
      background: url('../img/white/shirt.svg') no-repeat center center;
    }

    &.laundry {
      background: url('../img/white/laundry.svg') no-repeat center center;
      height: 3vw;
      width: 3vw;
      display: inline-block;
      margin-left: 1vw;
      margin-top: 0.6vh;
    }
  }
}