@import '../commons/variables';
@import '../commons/mixins';

.PostMessageForm {
  input {
    font-size: $base-font-small;
  }

  input[type="text"] {
    width: 45vw;
  }

  input[type="submit"] {
    margin-left: $base-padding-horizontal;
  }
}