@import 'commons/variables';

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  font-size: $base-font-size;

  .content {
    display: flex;
    align-self: auto;
    order: 0;
    flex: 1;
    align-items: center;
  }

  .content {
    flex: 5;
    justify-content: center;
  }
}
