@import 'commons/variables';

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  font-size: $base-font-size;

  .header,
  .content,
  .footer {
    display: flex;
    align-self: auto;
    order: 0;
    flex: 1;
    align-items: center;
  }

  .header {
    padding: $base-padding;

    .logo {
      display: block;
      background: url('img/lindstrom.png') no-repeat center center;
      background-size: contain;
      height: 80px;
      width: 275px;
    }
  }

  .content {
    flex: 5;
    justify-content: center;
  }
}
